@import url("../import/font.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");

* {
    margin: 0; /* resets margin */
    padding: 0; /* resets padding */
    box-sizing: border-box; /* makes width/height include padding */

}
:root {
    --primary-color: #FF6464;
    --secondary-color: #00A8CC;
    --dark-color: #21243D;
    --light-color: #8695A4;
    --white-color: #FFFFFF;

    /* font-sizes variables */
    
    --small-text: 14px;
    --regular-text: 16px;
    --semibold-text: 18px;
    --bold-text: 20px;
    --extrabold-text: 24px;
    --semiblack-text: 28px;
    --black-text: 42px;
}
button, input {
    all: unset;
}
button, a {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Heebo";
    line-height: 1.6;
}
