.footer-container {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-color);
    font-size: var(--small-text);
    gap: 10px;
}
.footer-container .social-icons {
    font-size: var(--semiblack-text);
    color: var(--dark-color);
    display: flex;
    gap: 15px;
}
